
<head>


</head>
<notifications>

</notifications>
<header>
         <div class="row" style="margin-top: 40px;">
    <div class="w-50 mx-auto">
    <a class="btn btn-primary" style="background-color: #28ad8a; border-color: #28ad8a;" asp-area="" asp-controller="UserPage" asp-action="CreateRecipe">Create New Recipe</a>
</div>
</div>
</header>